{% extends 'base.html' %}
{% block title %}Channels List{% endblock %}
{% block content %}
    <div class="container">
      <h1>Channels List</h1>
      <p>
      <ul class="list-group"> {% for channel in channels %}
        <li class="list-group-item">
          <div class="container">
            <a href="{% url 'channeldetail' channel.id %}">  {{channel.title}} </a>
            <form method="POST" action="{% url 'joinchannel' channel.id %}">
              {% csrf_token %}
              <button class="btn btn-primary btn-sm">Join Channel</button>
            </form>
            <ul class="list-group">
              <li class="list-group-item">
                <h5>Participants:</h5>
                {% for profile in channel.profile_part.all %}
                {{ profile.user.username }}
                {% endfor %}
              </li>
            </ul>
          </div>
        </li>
         {% endfor %}
      </ul>
    </div>
{% endblock %}