{% extends 'base.html' %}
{% block title %}Channels List{% endblock %}
{% block content %}
    <div class="container">
      <h1>Users List</h1>
      <p>
      <ul class="list-group"> {% for profile in profiles %}
        <li class="list-group-item">
          <div class="container">
            <a href="{% url 'index'%}">  {{profile}} </a>
             <form method="POST"  enctype="multipart/form-data" action="{% url 'addmessageuser' profile.id %}">
              {% csrf_token %}
              <label>Message:</label>
              <input class="form-control" type="textarea" name="text"><br>
               <label>Image:</label>
              <input class="form-control" type="file" name="img"><br>
              <button class="btn btn-primary btn-sm">Send message</button>
            </form>
            <p><h5>Messages</h5>
            {% for message in profile.message_set.all %}
            From: {{message.profile}} <p>
            Message: {{ message.text }}<p>
            To: {{message.profile_dest}}<p>
            {% endfor %}
            {% for message in messages %}
           <!--  {% if message.profile_dest == profile %} -->
            From: {{ message.profile }}
            Message: {{ message.text }}<p>
            To: {{message.profile_dest}}<p>
              <!-- {% endif %} -->
              {% endfor %}
          </div>
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}